<div class="new-custom-section">
  <div class="bg-image">
    {%
      render 'image-element',
      image: section.settings.image_selector,
      alt: section.settings.image_selector.alt,
      stretch_width: true,
      additional_classes: mobile_crop
    %}


    <div class="text-container">
    
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Custom Text Over Image",
    "class": "custom-text-over-image",
    "settings": [
      {
        "type": "text",
        "id": "Section-title",
        "label": "Heading"
      },
      {
        "type": "image_picker",
        "id": "image_selector",
        "label": "Select BG Image"
      }
    ],
    "presets": [
      {
        "name": "Custom Text Over Image",
        "category": "Collection"
      }
    ],
    "templates": [
      "404",
      "article",
      "blog",
      "cart",
      "collection",
      "list-collections",
      "index",
      "page",
      "product",
      "search"
    ]
  }
{% endschema %}